*{
    margin: 0;
    /* padding: 0; */
}

span {
    display: block;
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.button {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#grey {
    background-color: grey;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}